<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <meta charset="utf-8">
    <title><%- site.name %><%- page.title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">
    <meta content="<%- page.description %>" name="description">
    <link rel="icon" href="./assets/img/favicon/favicon.ico"/>
    <!-- Google Tag Manager -->
    <!-- End Google Tag Manager -->
    <%- include('./_ogp.ejs') %>
    <script src="./assets/js/vendor.js<%- addVersion(); %>" async></script>
    <script src="./assets/js/main.js<%- addVersion(); %>" defer></script>
    <link rel="stylesheet" href="./assets/css/common.css<%- addVersion(); %>">
</head>
